*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(https://t4.ftcdn.net/jpg/02/19/80/13/360_F_219801337_3kbasqLvgbUxAGVDH8QS35Sm4SEiPJFJ.jpg);
    background-size: cover;    
}
.img{
    height: 10px;
    width: 10px;
}
.one{
    text-align: center;
    background-color: green;
    box-shadow: 20px 30px 40px 30px purple;
    
}
 .one ul{
    display: inline-flex;
    list-style-type: none;
    color: black;
}
 .one ul li{
    width: 100px;
    margin: 15px;
}
.one ul li a{
    text-decoration: none;
    color:black;
    font-size: medium;
}

.two{
    display: none;
}

ul li a.active{
    color: white;
}
ul li a:hover:not(.active){
    color: white;
}

.one ul li:hover .two{
    display: block;
    position: absolute;
    background-color: grey;
}
.one li:hover .two ul{
    display: block;
}

.one li:hover .two li:hover{
    background-color: brown;
    color: black;
    text-decoration: none;
}

.three{
    display: none;
}
.one ul li:hover .three{
    display: block;
    position: absolute;
    background-color: grey;
}
.one li:hover .three ul{
    display: block;
}

.one li:hover .three li:hover{
    background-color: brown;
    color: black;
    text-decoration: none;
}
h2{
    margin-top: 300px;
    text-decoration: underline;
    color: red;
    padding:10px;
    border: 2px solid black;
    width: auto;
    text-align: center;
}
section li{
    list-style-type: none;
    text-align: center;
}
section li a{
    text-decoration: none;
    color: rgb(47, 50, 53);
   
}
 footer{
    margin-left: 85%;
    margin-top: 180px;
    color: gold;
}
::selection{
    color: blue;
    background-color: orange;
}